
<h2> Voici la liste des Unités </h2>
<p>Nous somme dans le composant HeroesComponent</p>
<ul class="heroes">
	<li *ngFor="let hero of heroes"
		[class.selected]="hero === selectedHero"
		(click)="onSelect(hero)">
		<span class="badge">{{hero.id}}</span> {{hero.name | uppercase}}
	</li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<!--


<div *ngIf="selectedHero">
	<ul class="heroes">
		<li>
			<span class="badge">{{selectedHero.id}}</span> {{selectedHero.name | uppercase}}
			<ul>
				<li><span class="badge">PV</span> {{selectedHero.pv}}</li>
				<li><span class="badge">Devise</span> "{{selectedHero.locution}}"</li>
				<li><span class="badge">Changer devise</span><input [(ngModel)]="selectedHero.locution" placeholder="Nouvelle Expression"/></li>
			</ul>
		</li>
	</ul>
</div>



<h2> Voici la liste des Unités </h2>
<p>Nous somme dans le composant HeroesComponent</p>
<ul class="heroes">
	<li *ngFor="let hero of heroes" (click)="onSelect(hero)">
		<span class="badge">{{hero.id}}</span> {{hero.name | uppercase}}
		<ul>
			<li><span class="badge">PV</span> {{hero.pv}}</li>
			<li><span class="badge">Devise</span> "{{hero.locution}}"</li>
			<li><span class="badge">Changer devise</span><input [(ngModel)]="hero.locution" placeholder="Nouvelle Expression"/></li>
		</ul>
	</li>
</ul>

<div *ngIf="selectedHero">
	<ul class="heroes">
		<li>
			<span class="badge">{{selectedHero.id}}</span> {{selectedHero.name | uppercase}}
			<ul>
				<li><span class="badge">PV</span> {{selectedHero.pv}}</li>
				<li><span class="badge">Devise</span> "{{selectedHero.locution}}"</li>
				<li><span class="badge">Changer devise</span><input [(ngModel)]="selectedHero.locution" placeholder="Nouvelle Expression"/></li>
			</ul>
		</li>
	</ul>
</div>
-->